parameters:
	ignoreErrors:
		-
			message: "#^Method Ergebnis\\\\GitHub\\\\Changelog\\\\Console\\\\GenerateCommand\\:\\:range\\(\\) has parameter \\$endReference with a nullable type declaration\\.$#"
			count: 1
			path: src/Console/GenerateCommand.php

		-
			message: "#^Method Ergebnis\\\\GitHub\\\\Changelog\\\\Console\\\\GenerateCommand\\:\\:range\\(\\) has parameter \\$endReference with null as default value\\.$#"
			count: 1
			path: src/Console/GenerateCommand.php

		-
			message: "#^Method Ergebnis\\\\GitHub\\\\Changelog\\\\Repository\\\\CommitRepository\\:\\:items\\(\\) has parameter \\$endReference with a nullable type declaration\\.$#"
			count: 1
			path: src/Repository/CommitRepository.php

		-
			message: "#^Method Ergebnis\\\\GitHub\\\\Changelog\\\\Repository\\\\CommitRepository\\:\\:items\\(\\) has parameter \\$endReference with null as default value\\.$#"
			count: 1
			path: src/Repository/CommitRepository.php

		-
			message: "#^Method Ergebnis\\\\GitHub\\\\Changelog\\\\Repository\\\\CommitRepositoryInterface\\:\\:items\\(\\) has parameter \\$endReference with a nullable type declaration\\.$#"
			count: 1
			path: src/Repository/CommitRepositoryInterface.php

		-
			message: "#^Method Ergebnis\\\\GitHub\\\\Changelog\\\\Repository\\\\CommitRepositoryInterface\\:\\:items\\(\\) has parameter \\$endReference with null as default value\\.$#"
			count: 1
			path: src/Repository/CommitRepositoryInterface.php

		-
			message: "#^Method Ergebnis\\\\GitHub\\\\Changelog\\\\Repository\\\\PullRequestRepository\\:\\:items\\(\\) has parameter \\$endReference with a nullable type declaration\\.$#"
			count: 1
			path: src/Repository/PullRequestRepository.php

		-
			message: "#^Method Ergebnis\\\\GitHub\\\\Changelog\\\\Repository\\\\PullRequestRepository\\:\\:items\\(\\) has parameter \\$endReference with null as default value\\.$#"
			count: 1
			path: src/Repository/PullRequestRepository.php

		-
			message: "#^Method Ergebnis\\\\GitHub\\\\Changelog\\\\Repository\\\\PullRequestRepositoryInterface\\:\\:items\\(\\) has parameter \\$endReference with a nullable type declaration\\.$#"
			count: 1
			path: src/Repository/PullRequestRepositoryInterface.php

		-
			message: "#^Method Ergebnis\\\\GitHub\\\\Changelog\\\\Repository\\\\PullRequestRepositoryInterface\\:\\:items\\(\\) has parameter \\$endReference with null as default value\\.$#"
			count: 1
			path: src/Repository/PullRequestRepositoryInterface.php

		-
			message: "#^Closure has a nullable return type declaration\\.$#"
			count: 1
			path: src/Util/Git.php

		-
			message: "#^Closure has a nullable return type declaration\\.$#"
			count: 1
			path: src/Util/RepositoryResolver.php

		-
			message: "#^Method Ergebnis\\\\GitHub\\\\Changelog\\\\Test\\\\Unit\\\\Repository\\\\CommitRepositoryTest\\:\\:commitItem\\(\\) has parameter \\$message with a nullable type declaration\\.$#"
			count: 1
			path: test/Unit/Repository/CommitRepositoryTest.php

		-
			message: "#^Method Ergebnis\\\\GitHub\\\\Changelog\\\\Test\\\\Unit\\\\Repository\\\\CommitRepositoryTest\\:\\:commitItem\\(\\) has parameter \\$message with null as default value\\.$#"
			count: 1
			path: test/Unit/Repository/CommitRepositoryTest.php

		-
			message: "#^Method Ergebnis\\\\GitHub\\\\Changelog\\\\Test\\\\Unit\\\\Repository\\\\CommitRepositoryTest\\:\\:commitItem\\(\\) has parameter \\$sha with a nullable type declaration\\.$#"
			count: 1
			path: test/Unit/Repository/CommitRepositoryTest.php

		-
			message: "#^Method Ergebnis\\\\GitHub\\\\Changelog\\\\Test\\\\Unit\\\\Repository\\\\CommitRepositoryTest\\:\\:commitItem\\(\\) has parameter \\$sha with null as default value\\.$#"
			count: 1
			path: test/Unit/Repository/CommitRepositoryTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: test/Unit/Util/RepositoryResolverTest.php

